.footer-container {
    background-color: #1c1b31; /* Dark background color */
    padding: 50px 0;
    color: #fff; /* White text */
  }
  
  .footer-logo-img {
    max-width: 100px;
    margin-bottom: 20px;
  }
  
  .footer-title {
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-weight: bold;
    color: #ffffff;
  }
  
  .footer-list {
    padding: 0;
    list-style: none;
  }
  
  .footer-list li {
    margin-bottom: 10px;
  }
  
  .footer-list li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
  }
  
  .footer-list li a:hover {
    text-decoration: underline;
    color: #f0f0f0;
  }
  
  /* Adjust for mobile */
  @media (max-width: 768px) {
    .footer-logo-img {
      margin-bottom: 30px;
      max-width: 80px;
    }
  
    .footer-title {
      font-size: 1.1rem;
    }
  
    .footer-list li a {
      font-size: 0.9rem;
    }
  }
  
  .language-toggle {
    display: flex;
    align-items: center;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .language-selector button:hover {
    background: #7b1fa2;
    color: white;
  }
  
  .language-selector button:focus {
    outline: none;
  }
  