.booking-policies-container {
    padding: 20px;
    background-color: #f9f9ff;
  }
  
  .booking-policies-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-bottom: none;
  }
  
  .close-button {
    font-size: 24px;
    color: #6b3eab;
  }
  
  .card-body ol {
    padding-left: 20px;
  }
  
  .card-body ol li {
    margin-bottom: 10px;
  }
  
  .accordion .card-header {
    background-color: #f9f9ff;
    cursor: pointer;
  }
  
  .accordion .card-body {
    background-color: #ffffff;
    padding: 15px;
    border-top: none;
  }
  
  .accordion .card {
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  